$accent:#236967;
$background-title: #FFECA0;
$background:#FFFBED;
$grey: #363636;


%roboto-400{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}


%roboto-500{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}



%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}





.types__list-paragraph{
    list-style-type: decimal-leading-zero;
}


%checkbox-hidden,
%radio-hidden{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}
  